[user]
	name = James McCann
	email = jmccnz@gmail.com
	signingkey = E3865B077F4079FB5390CB67F65CE39CE44A7A32

[color]
  diff = auto
  status = auto
  branch = auto
[color "status"]
  changed = yellow
  added = green
  untracked = red
[alias]
  gl = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
  standup = log --pretty=format:'%Cred%h%Creset -%Creset %s %Cgreen(%cD) %C(bold blue)<%an>%Creset' --since yesterday --author jmccnz@gmail.com
  gup = pull --rebase
  gpum = push origin master
  dc = diff --cached
	lgb = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --branches
	l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --branches

[core]
	autocrlf = input
  excludesfile = ~/.gitignore
[merge]
	tool = opendiff
[commit]
	gpgsign = false
[pull]
	ff = only
