[submodule "vim/plugins/vim-closetag"]
	path = vim/plugins/vim-closetag
	url = git@github.com:alvan/vim-closetag.git
[submodule "vim/plugins/editorconfig-vim"]
	path = vim/plugins/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vim/plugins/vim-jsx"]
	path = vim/plugins/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "vim/plugins/ale"]
	path = vim/plugins/ale
	url = https://github.com/w0rp/ale.git
